scikit-misc==0.5.2
dask-image==2024.5.3
ipython==9.5.0
pyogrio==0.12.1
pooch==1.8.2
dask==2024.11.2
dask-expr==1.1.19
pims==0.7
xarray==2025.1.2
pyro-ppl==1.9.1
pyro-api==0.1.1
opt-einsum==3.3.0
cellphonedb==5.0.1
torch==2.8.0
pytorch-lightning==2.5.5
cellcharter==0.3.5
cytoolz==1.0.1
ktplotspy==0.3.3
liana==1.6.1
loompy==3.0.8
pyscenic==0.12.1
leidenalg

